body {
}

header {
    background: #952727;
    color: white;
    text-align: center;
    font-size: 20px;
}

.header_content {
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: #fff;
    text-decoration: none;
}

header a:hover{
    color: #fff;
}

header ul{
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    list-style-type: none;
}

header ul, header h1{
    margin-bottom: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #952727;
    color: white;
    text-align: center;
    font-size: 11px;
}